<section class="comment_form">
{{- $.Scratch.Add "post_parent" .File.UniqueID -}}
  <a id="comment-form"></a>
  <h1>Nieuwe reactie</h1>

  <form class="js-form form" method="POST" action="{{ .Site.Params.staticman_api }}">
    <input type="hidden" name="options[entryId]" value="{{ $.Scratch.Get "post_parent" }}">
    <input type="hidden" name="options[slug]" value="{{ .Permalink }}">
    <input type="hidden" name="options[origin]" value="{{ .Permalink }}">
    <input type="hidden" name="options[parent]" value="{{ $.Scratch.Get "post_parent" }}">
    <input type="hidden" name="fields[reply_to]" value="">

    <fieldset>
      <input required name="fields[name]" type="text" class="post-comment-field" placeholder="{{ i18n "form_name" }}*">
    </fieldset>

    <fieldset>
      <input required name="fields[email]" type="email" class="post-comment-field" placeholder="{{ i18n "form_email" }}*">
    </fieldset>
	
	<fieldset>
	  <input name="fields[website]" type="text" class="post-comment-field" placeholder="{{ i18n "form_website" }}">
	</fieldset>

    <fieldset>
      <textarea required name="fields[body]" class="post-comment-field" placeholder="{{ i18n "form_body" }}" rows="10"></textarea>
    </fieldset>

    <fieldset>
          {{ if and .Site.Params.staticman.recaptcha.siteKey .Site.Params.staticman.recaptcha.encryptedKey }}
          {{ with .Site.Params.staticman.recaptcha }}
            <input hidden name='options[reCaptcha][siteKey]' value='{{ .sitekey }}'>
            <input hidden name='options[reCaptcha][secret]' value='{{ .encryptedkey }}'>
            <div class='g-recaptcha' data-sitekey='{{ .sitekey }}' data-callback="enableBtn"></div>
          {{ end }}
          {{ end }}
      <input type="submit" class="post-comment-field button" value="Submit" id="submit_button">
      <input type="reset" class="post-comment-field button" value="Reset">
    </fieldset>

  </form>
<div id="modal" class="modal">
</div>

  <script type="text/javascript">
    document.getElementById("submit_button").disabled = true;

    function enableBtn(){
       document.getElementById("submit_button").disabled = false;
      }
  </script>

</section>